extends layout

block content
  h1 #{title}: #{book.title}
  
  

  p #[strong Do you really want to delete this book and all its instances () from the record?]

  
  form(method='POST' action='')
    div.form-group
      input#book.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete
